@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  font-family: "Roboto Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-flow: column;
  flex: 1;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
